    .card-horizontal {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
    .card-horizontal img {
      max-width: 405px;
      max-height: auto;
      object-fit: cover;
      border-radius: 8px 0 0 8px;
    }
